<div class="header">
   <div class="maindiv">
    <p class="para1">Account Opening Form</p>
    

    <div class="container">
        <p class="para2">Personal Information</p>
        <div class="info">
            <div class="row">
                <label for="">Name <span class="star">*</span></label>
                <div class="col-md-4">
                  <div>
                <select class="input">
                    <option class="mr" value="">Mr.</option>
                    <option class="mr" value="">Mrs.</option>
                    <option class="mr" value="">Ms.</option>
                </select>
                    
                    
                  </div>
                  <p class="text">prefix</p>
                </div>
                <div class="col-md-4">
                    <div>
                        <input class="input" type="text"> 
                    </div>
                    <p class="text">First Name</p>
                </div>
                 <div class="col-md-4">
                    <div>
                        <input class="input" type="text"> 
    
                    </div>
                    <p class="text">Last Name</p>
                  
                </div>
                
            </div>
    
            <div class="row">
                <label for="">Date of Birth <span class="star">*</span></label>
                <div class="col-md-4 ">
                    <div class="birth pb-2">
                        <select class="input ">
                            <option value="">Please select a Month</option>
                        </select>
                    </div>
    
    
                </div>
    
                <div class="col-md-4">
                    <div class="birth pb-2">
                        <select class="input">
                            <option value="">Please select a day</option>
                        </select>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="birth pb-2">
                        <select class="input">
                            <option value="">Please select a year</option>
                        </select>
                    </div>
                </div>
            </div>
    
            <div class="row">
                
                <div class="col-md-6">
                    <div class="maiden">
                        <label for="">Mother's Maiden Name <span class="star">*</span></label>
                        <div>
                            <select class="input">
                                <option value=""></option>
            
                            </select>
        
    
                        </div>
                       
                    </div>
                   
    
                </div>
                
                <div class="col-md-6">
                    <div class="maiden">
                        <label for="">Telephone Number <span class="star">*</span></label>
                        <select class="input">
                            <option value=""></option>
        
                        </select>
                        
                    </div>
                    
                  
    
                </div>
            </div>
            
            <div class="row">
               
                <div class="col-md-6">
                    <div class="maiden">
                        <label for="">Email</label>
                        <div>
                            <input class="input" type="text">

                        </div>
                        
    
                    </div>
                    <p class="text">example.com</p>
                    
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div>
                        <label for="">Address</label>
                        <div>
                            <input class="input" type="text">
                        </div>
                        <p class="text">Street Address</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div>
                            <input class="input" type="text">
                        </div>
                        <p class="text">Street Address Line 2</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        
                        <div>
                            <input class="input" type="text">
                        </div>
                        <p class="text">City</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        
                        <div>
                            <input class="input" type="text">
                        </div>
                        <p class="text">State / Province</p>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <div>
                            <input class="input" type="text">
                        </div>
                        <p class="text">Postal / Zip Code</p>

                    </div>

                </div>

                <div class="col-md-6">
                    <div>
                        <div>
                            <select class="input">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                        <p class="text">Country</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <p>Eduction Level</p>
                        <div class="rad">
                            <input class="radio1" type="radio">
                            <p  class="high">High School or below </p>

                        </div>
                        <div class="rad">
                            <input class="radio1" type="radio">
                            <p class="high">Undergraduate</p>

                        </div>
                        <div class="rad">
                            <input class="radio1" type="radio">
                            <p class="high">Master's Degree</p>
                            

                        </div>
                        <div class="rad">
                            <input class="radio1" type="radio">
                            <p class="high">PhD</p>
                            
                            

                        </div>                        
                       
                       
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div>
                        <p>Form of Identification</p>
                        <div class="box">
                            <input class="box1" type="checkbox" name="" id="">
                            <p class="high">National Identity Card</p>
                        </div>

                        <div class="box">
                            <input class="box1" type="checkbox" name="" id="">
                            <p class="high">Driver's Licence</p>
                        </div>
                        <div class="box">
                            <input class="box1" type="checkbox" name="" id="">
                            <p class="high">International Passport</p>
                        </div>
                        <div class="box">
                            <input class="box1" type="checkbox" name="" id="">
                            <p class="high">Student ID</p>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Upload Form of Identification</p>
                     <div>
                        <input class="inputfile" type="file" name="" id="">
                     </div>
                </div>
            </div>

            <div class="row">
                <p class="info1">Account Information </p>
                <div class="col-md-6">
                   <label for="">Accoount Type <span class="star">*</span></label>
                    <div>
                        <select class="input">
                            <option value="">Please Select</option>
                        </select>
                        
                    </div>

                </div>
                <div class="col-md-6">
                    <label for="">Account Category</label>
                     <div>
                         <select class="input">
                             <option value="">Please Select</option>
                         </select>
                         
                     </div>
 
                 </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                   <div class="maiden">
                    <label for="">Monthly Salary</label>
                    <div>
                        <select class="input">
                            <option value="">USD</option>
                        </select>
                    </div>
                   </div>
                </div>
            </div>

            <div class="row">
                <div class="btn">
                    <button  class="btn1">Submit</button>
                </div>
            </div>

        </div>
        
    </div>

   </div>

</div>
